<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<fieldset style="width:300px; background-color:#bababa">
    <body>
    <h3>CLEFIA</h3>
    <form method="POST" enctype="multipart/form-data" action="/encriptarArchivo">
        <input type="file" name="uploadedFileName" id="fileToUpload" required="">
        <br>
        <br>
        <label for="keySize">Tamaño de la clave</label>
        <select id="keySize" name="keySize" size="1">
            <option value="128" selected="selected">128</option>
            <option value="192">192</option>
            <option value="256">256</option>
        </select>
        <br>
        <br>
        <input type="submit" name="encriptar_archivo" value="Encriptar/Desencriptar" id=""/>
        <div style="display:flex">
        <div>Imagen Original
        <img th:src="${session.pathOriginal}"/>
        </div>
        <div>Imagen Encriptada
        <img th:src="${session.pathEncrypted}"/>
        </div>

        <div>Imagen Desencriptada
        <img th:src="${session.pathDecrypted}"/>
        </div>
        </div>
    </form>

    </body>
</fieldset>

</html>