<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<fieldset style="width:300px; background-color:#bababa">
    <body>
    <h3>CLEFIA</h3>
    <form method="POST" enctype="multipart/form-data" action="/encriptarArchivo">
        <input type="file" name="uploadedFileName" id="fileToUpload" required="">
        <br>
        <br>
        <label for="keySize">Tamaño de la clave</label>
        <select id="keySize" name="keySize" size="1">
            <option value="128" selected="selected">128</option>
            <option value="192">192</option>
            <option value="256">256</option>
        </select>
        <br>
        <br>
        <input type="submit" name="encriptar_archivo" value="Encriptar/Desencriptar" id=""/>
        <p th:text="${session.pathEncrypted}"></p>
        <img th:src="${session.pathEncrypted}"/>
<!--        <img th:src="@{http://localhost/,name=${players.name})}"/>-->
<!--        th:src="@{/img/{id}_{name}.png(id=${players.id},name=${players.name})}"-->
<!--        //http://localhost/-->
    </form>

    </body>
</fieldset>

</html>